In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('カナ.csv')
df

       ID  契約数       契約日時 第1サービス 第2サービス  更改数
0  11025C   35  2017/5/12    1つ目    4つ目    2
1  11025B    2   2018/1/1    3つ目    6つ目    5

In [3]:
# 各カラムの型
df.dtypes

ID        object
契約数        int64
契約日時      object
第1サービス    object
第2サービス    object
更改数        int64
dtype: object

In [4]:
# 契約日時を時間データに変換
df['契約日時'] = pd.to_datetime(df['契約日時'])
df.dtypes

ID                object
契約数                int64
契約日時      datetime64[ns]
第1サービス            object
第2サービス            object
更改数                int64
dtype: object

In [5]:
# 文字列のカラムのリスト
Kana = []
for i in df.columns:
    if df[i].dtype == object:
        Kana.append(i)
        
Kana

['ID', '第1サービス', '第2サービス']

In [6]:
# 一斉ダミー変数変換
df_con = df
for col in Kana:
    df_dummy = pd.get_dummies(df[col],drop_first = True)
    df_con = pd.concat([df_con.drop([col],axis=1),df_dummy],axis=1)
    
df_con

   契約数       契約日時  更改数  11025C  3つ目  6つ目
0   35 2017-05-12    2       1    0    0
1    2 2018-01-01    5       0    1    1